<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="">
            <i class="material-icons">dehaze</i>
        </md-button>
        <h2> <span>Angular Starter</span> </h2>
        <span flex></span>
        <md-button ui-sref="insurances" class="md-icon-button" aria-label="Favorite">
            <i class="material-icons">directions_car</i>
            <md-tooltip> Car </md-tooltip>
        </md-button>
    </div>
</md-toolbar>
